*

!.gitignore
!.clang-format

!Tests
!Tests/**/

!Client
!Client/**/

!Server
!Server/**/

!TestsGenerator
!TestsGenerator/**/

!**/CMakeLists.txt
!**/*.cpp
!**/*.tpp
!**/*.ipp
!**/*.h
!**/*.l
!**/*.y
